{
  "stage": 0,
  "optional": ["runtime"],
  "env": {
    // Only enable react-transform-hmr when process.env.NODE_ENV is 'development' or undefined
    "development": {
      "plugins": ["react-transform"],
      "extra": {
        "react-transform": [{
          "target": "react-transform-hmr",
          "imports": ["react"],
          "locals": ["module"]
        }, {
          "target": "react-transform-catch-errors",
          "imports": ["react", "redbox-react"]
        }]
      }
    }
  }
}